@import '../shared/global.scss';

body {
    background-color: $gray-300;
    transform: none;

    @media (max-width: 767px) {
        background-color: white;
    }
}

main {
    background-color: $gray-100;
}

h1, h2, h3 {
    text-align: left;
}

header {
    padding: 20px 0;
    background-color: white;

    h1 {
        margin-bottom: 4px;
    }

    img {
        width: 80px;
        height: 80px;
        border-radius: 100%;
    }

    hr {
        border-color: $gray-700;
    }

    .titulo {
        margin: 0 0 8px 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: $green-600;
    }

    .valor {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: $gray-700;
    }
}

form {
    section {
        padding: 20px 0 40px 0;
        border-bottom: 1px solid $gray-300;

        &:last-of-type {
            border: none;
        }
    }
}

.navbar {
    padding: 0;
    background-color: white;
    border-bottom: 1px $gray-300 solid;
    
    .nav-link{
        border-radius: 0;
        padding: 16px 8px;
        color: $gray-700;
        white-space: nowrap;
    
        &.active {
            background-color: inherit;
            color: $green-500;
            border-bottom: 2px $green-500 solid;
        }
    }
    
    .nav-pills {    
        &::-webkit-scrollbar {
            display: none;
        }
    }
}


.produto {
    padding: 24px 0;
    background-color: inherit;
    border-radius: 0;
    border: initial;
    border-bottom: 1px solid $gray-300;

    &:last-of-type {
        border-bottom: none;
    }

    img {
        width: 140px;
        height: 140px;
        border-radius: 8px;
        border: 1px solid $gray-300;
    }

    .nomeProduto {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 16px;
    }

    .preco-produto {
        margin: 0 0 12px 0;
        font-size: 16px;
        color: $gray-700;
    }
}

.carousel {
    text-align: center;;

    img {
        width: 100%;
        height: 320px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}

.list-group {
    padding: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    
    small {
        color: $gray-700;
    }
}


svg {
    height: 16px;
    width: auto;

    g {
        fill: #6c757d;
    }
}

.modal {
    .modal-header {
        justify-content: start;
        
        button {
            padding: 0;
    
            span {
                font-size: 24px;
            }
        }
        
        h1 {
            margin: 0 0 0 16px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 20px;
        }
    }

    .modal-body {
        background-color: $gray-300;
    }
}

.list-group-item {
    padding: 16px;

    h6 {
        margin: 0;
    }
}

.total {
    z-index: 9999;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
    margin: auto;
    height: 64px;
    line-height: 64px;
    background-color: $green-500;
    color: white;   
    
    .titulo, .valorTotal {
        font-size: 16px;     
        font-weight: 500; 
    }
    
    .valorTotal {
        text-align: right;
    }
}

.interna-detalhes {
    .nomeProduto, .titulo {        
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 38px;
        margin: 0 0 0 12px;
    }
}